.js-edit-list-form.panel-body style=('display: none;')
  = form_for @list,html: {class: 'form form-inline'} do |f|
    = f.text_field :name, placeholder: 'List Name', class: 'form-control', required: true
    = f.text_field :description, placeholder: 'description', class: 'form-control'
    = f.label :is_public do
      = f.check_box :is_public
      = 'is public'
    button.btn.btn-success Save
  br
  button.btn.js-hide-form hide