.js-share-form.panel-body style=('display: none;')
  = form_tag(action: :share, method: 'post')
    table.table
      thead
        tr
          th= t :share
          th= t :username
      tbody
        = render partial: 'lists/user', collection: @users
    button.btn= t :submit
  br
  button.btn.js-hide-form hide
