.js-new-song-form.panel-body style=('display: none;')
  = form_for @new_song, html: {class: 'form form-inline'} do |f|
    = f.text_field :url, placeholder: 'Youtube url', class: 'form-control'
    = f.text_field :author, placeholder: 'author', class: 'form-control', required: true
    = f.text_field :name, placeholder: 'name', class: 'form-control', required: true
    = f.text_field :genre, placeholder: 'genre', class: 'form-control'
    = f.hidden_field :list_id, value: @list.id
    button.btn.btn-success= t :add_song
  br
  button.btn.js-hide-form hide