h1 lists
.panel.panel-body
  = form_for @new_list, html: {class: 'form form-inline'} do |f|
    = f.text_field :name, placeholder: 'asd', class: 'form-control', required: true
    button.btn.btn-success= t :create_list
  table.table
    tbody
      = render @lists
  = will_paginate @lists
