= content_for :plugins do
  = javascript_include_tag 'lists'
.panel.panel-body
  = link_to t(:back), my_lists_path
  p
    b= @list.name
  .btn-group
    button.btn.js-show-song-form-btn= t(:add_song)
    button.btn.js-show-edit-list-form-btn= t(:manage_list)
    button.btn.js-share-list-btn= t(:share_list)
  = render partial: 'lists/song_form'
  = render partial: 'lists/list_form'
  = render partial: 'lists/share_form'
  table.table
    tbody
      = render @songs
  = will_paginate @songs