script src="https://code.jquery.com/jquery-3.1.1.min.js"
script src="https://code.highcharts.com/highcharts.js"
script src="https://code.highcharts.com/highcharts-more.js"
script src="https://code.highcharts.com/modules/exporting.js"
h1 dashboard
.panel.panel-default
  .panel-body.js-stats-container data-stat= "#{@stat}"
    #container
    button#plain Plain
    button#inverted Inverted
    button#polar Polar


.panel.panel-default
  .panel-body
    table.table
      tbody
        = render @lists
    = will_paginate @lists
= content_for :plugins do
  = javascript_include_tag 'dashboard'
