.container.login-form
  h2 Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .form-group
      = f.text_field :username, autofocus: true, class: 'form-control', placeholder: 'username'
    .form-group
      = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'email'
    .form-group
      = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'password'
      - if @minimum_password_length
        em
          | (#{@minimum_password_length} characters minimum)
    .form-group
      = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', placeholder: 'confirm password'
    .actions
      = f.submit 'Sign up', class: 'btn btn-lg btn-primary'
  = render 'devise/shared/links'