tr.js-song-url data-link=("#{song.url}") data-song=("#{song.id}") style=('cursor: pointer')
  td.js-song-author= song.author
  td.js-song-name= song.name
  td.js-song-genre= song.genre
  td= link_to 'del', song_path(song.id), method: :delete