.container.login-form
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    h2 Sign in
    = devise_error_messages!
    .form-group
      = f.text_field :email, placeholder: 'email', class: 'form-control'
    .form-group
      = f.password_field :password, placeholder: 'password', class: 'form-control', autocomplete: 'off'
    .actions
      = f.submit 'Login', class: 'btn btn-lg btn-primary'
  = render 'devise/shared/links'